<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="SavoryLogDB" connectionString="Data Source=BLUEWIND\BLUESERVER;Initial Catalog=SavoryLogDB;Integrated Security=True;Connect Timeout=10" />
    <!--add name="SavoryTitanDB" connectionString="Data Source=192.168.1.107,1433;Initial Catalog=SavoryTitanDB;Integrated Security=False;User ID=HarrisDeploy;Password=Zhang@#123;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" /-->
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="LogServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://192.168.1.107:8877/metadata" />
          <!--serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8877/metadata" /-->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="LogServiceBehavior" name="Savory.LogService.LogService">
        <!--endpoint address="http://192.168.1.107:8877" binding="basicHttpBinding" contract="Savory.LogService.Contract.ILogService" /-->
        <endpoint address="http://localhost:8877" binding="basicHttpBinding" contract="Savory.LogService.Contract.ILogService" />
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <add key="AppId" value="100001001" />
  </appSettings>
</configuration>